/*

	CSS for nyt.html
	Chris McGuire
	CTEC 290 API

	colors:

	#CDFCFF
	#4E7F82
	#91CBCF
	#825C41
	#CFAA91

*/

body {
	background-color: #CDFCFF;
}

#wrapper {
	width: 1200px;
	margin: 0 auto;
	background-color: #91CBCF;
	padding: 10px;
	border-radius: 50px;
}

header {
	width: 600px;
	background-color: #FFEADA;
	border-radius: 50px;
	margin: 10px auto;
	color: ;

}

h1 {
	margin: 0 auto;
	text-align: center;
	padding: 20px;
}

main { 
	width: 1200px;
}

article {
	float: left;
	background-color: #FFF;
	width: 560px;
	height: 425px;
	margin: 10px 10px 10px 10px;
	border-radius: 5px;
	padding: 10px;
}

footer {
	clear: both;
}